.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.InputElement {
  outline: none;
  border: 1px solid #ccc;
  border-color: #ccc;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
